* {
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-family: courier new, monospace
}
h1 {
	text-align: center;
	padding: 20px;
}
section {
	padding: 10px;
	display: inline-block;
	float: left;
	width: 100%;
}
div {
	background-color: gray;
	border: 1px solid black;
	position: relative;
}
h3 {
	text-align: center;
	border: 1px solid black;
	position: absolute;
	width: 150px;
	height: 25px;
	right: 0px;
}
.chicken h3 {
	background-color: green;
}
.beef h3 {
	background-color: red	;
}
.sushi h3 {
	background-color: orange;
}
p {
	padding: 30px 10px 10px 10px;
}

@media (min-width: 992px) {
	.equal-lg {
		width: 33%;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.half-md {
		width: 50%;
	}
	.full-md {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.full-sm {
		width: 100%;
	}
}